nav ul {
    display: flex;
    justify-content: space-evenly;
    background: #333333;
    color: #ffffff;
}
a {
    color: inherit;
}
.my-gallery, .news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    
}

.my-gallery img, .news img {
    width: 100%;
    object-fit: cover;
    height: 30vh;
}
.my-gallery figcaption {
    text-align: right;
}
.news footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}